<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-feature android:name="android.hardware.type.watch" android:required="true" />
    <application>
        <service
            android:name=".WmaxPassiveHealthService"
            android:permission="com.google.android.wearable.healthservices.permission.PASSIVE_DATA_BINDING"
            android:exported="true" />
        <receiver android:name=".WearBootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
